<footer class="container-fluid bg-light">
	<div class="row">
		<section class="col">
			column1
		</section>
		<section class="col">
			footer
		</section>
		<section class="col">
			column3
		</section>
	</section>
</div></footer>
