<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('build/css/bootstrap.min.css') }}">
		{% endblock %}
		{% block javascripts %}{% endblock %}
		<script src={{ asset('build/js/bootstrap.bundle.min.js') }} defer></script>
	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
